*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'zen kurenaido', 'sans-serif';
  background-color: #960854;
}
.container{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  margin-top: 150px;
  border-radius: 21px;
  background-color: #960854;
  box-shadow: -20px -20px 40px #6c063c,
                20px 20px 40px #c00a6c;
}

.container h3{
  padding: 20px 0;
  font-size: 32px;
  color: white;
}

.container input{
  padding: 10px;
  font-size: 18px;
  outline: none;
}
.container button{
  padding: 10px;
  margin-top:15px ;
}